.form {
    max-width: 370px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.input {
    border: none;
    outline: none;
    padding: 15px 19px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 300;
    color: var(--black);
    background-color: var(--lightgrey);
}

.input::placeholder {
    color: var(--placeholdergrey);
}

.button {
    align-self: flex-start;
    padding: 19px 50px;
    color: #fff;
    background-color: var(--green);
    transition-property: background-color, color;
    transition-duration: var(--trs);
    transition-timing-function: ease;
}

.button:hover {
    background-color: var(--greenHover);
}